header{
    display:flex;
    justify-content: space-between;

}
.navbar{
    display:flex;
    gap:10px;
}
ul{
    list-style-type: none;
}
.banner{
    display:flex;
}
div h1 span{
    color:orange;
}
.card{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap:4px;
    border-color: black;
    margin:10px;

}
.cart-btn{
    background-color:orange;
}