*{

    margin: 0;
    border: 0;
    padding: 0;
}
header{
    display:flex;
    justify-content: space-between;
    margin-left: 10%;
    align-items: center;
    margin-right:10%;

}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width:100%;
    margin:0 auto;
    gap:40px;
}
.cart{
    display: flex;
    align-items: center;
    width:50px;
}
    .navbar li{
    display:flex;
    gap:1.5rem;
    font-size:1.5rem;
    }
nav ul{
    list-style-type: none;
}
.banner{
    display:flex;
    margin-left: 10% ;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center; 
}
.banner-img{
    width:100%;
}
div h1 span{
    color:orange;
}
.banner div p{
    font-size: 1.5rem;
}
.card{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap:4px;
    width:80%;
    margin:auto;
}
.cart-btn{
    background-color:rgb(253, 101, 0);
    padding:0.8rem;
    width:96%;
    font-size: 1.1rem;
    font-weight: bold;
    color:white;
}
.items{
    text-align:center;
    padding:5px;
}
.flwr-plnt{
    display:flex;
    gap:8rem;
}
.flwr-plnt-img img {
    margin-left:30%;
    margin-top:10%;
    width:80%;
}
.flwr-plnt-text {
    padding: 0px;
    margin-top: 5%;
}
.flwr-plnt-text h1{
    font-size:3rem;
    margin-left: -2rem;
}
.flwr-plnt-text ul li{
    font-size:1.5rem;
    color: grey;
}



.deals {
    display:flex;
    gap:100px;

}
/* .2-deals{
    display:flex;
    flex-direction:coloum;
    gap:0px;
} */
.footer{
    display:flex;
}
.plants{
    /* align-items: center; */
    text-align: center;
}
.plants p{
    font-size: 1.5rem;
}
.plants h1{
    font-size: 2.7rem;
}
.card p{
    font-size:1.5rem;
}


